<h1>Edit Wiki</h1>

  <div class="form-group">
    
    <%= form_for @wiki do |f| %>
      <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
      <%= f.text_area :body, rows: 12, class: 'form-control', placeholder: 'Body' %>

     <% if policy(@wiki).premium? %>
        Add collaborators: 
        <% @users.each do |user| %>
          <ul> <%= check_box_tag :collaborators, user.id %>
          <%= user.username || user.email %> </ul>
        <% end %>

      <%= f.check_box :is_private %>
      <%= f.label "Private" %>
     <% end %>
      
      <%= f.submit 'Save', class: 'btn btn-info' %>
    <% end %>

  </div>