<h1>New Wiki</h1>

<%= form_for @wiki do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: 'Title' %>
  <%= f.label :body %>
  <%= f.text_field :body, placeholder: 'Body' %>
  <%= f.submit 'Save' %>
<% end %>